<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=1000")
    title INNOVATION SEEDS LIST
    link(rel="stylesheet", href="../assets/css/index.css")

    // Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-YY57Z88VJE")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-YY57Z88VJE');
      
  body
    .container
      .language 
       a(href="./index.pug") 日本語  
      .header
        h1 INNOVATION SEEDS LIST
        span 'Innovation Seeds' is a list of DLX Design Lab's projects to tackle the effects of COVID-19. The aim is to create an interactive 'mind map' of COVID-19-related concepts/ideas so that we will be able to look back on what we learnt in the period. COVID-19 completely changed all the senses we have in common, but these changes have created seeds of innovation. Through it we can identify project ideas which we can work on in the future, as 'Innovation Seeds'. This project is suppported by IIS Director General’s Funding.
      .link
          a(href="./cards.pug")
            p.illust Go to  Overview Ideas →
      .mindmap
        a(href="./postcorona.pug").post 
            p.title POST CORONA
            p.click CLICK
        a(href="./withcorona.pug").with 
            p.click2 CLICK
            p.title2 WITH CORONA
      .big 
