<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=1000")
    title INNOVATION SEEDS LIST
    link(rel="stylesheet", href="../assets/css/index.css")
  body
    .container
      .language  
        a(href="./index-en.pug") EN
      .header
        h1 INNOVATION SEEDS LIST
        span.japanese 「Innovation Seeds (イノベーションシード)」は、COVID-19に関する問題に取り組むDLX Design Labのプロジェクトです。COVID-19は私たちの常識を完全に変えてしまいましたが、ポジティブな視点から見ると今後より良く生きるためのイノベーションの種 (Innovation Seeds)を残していったとも言えます。そこでCOVID19に関する問題に対して、多様な視点によってコンセプトを開発しそれらをまとめたマインドマップを作り、COVID19対策はもちろん、イノベーションのインスピレーションソースとして活用し、未来の研究に役立ることが目的です。このプロジェクトは、東京大学生産技術研究所 所長裁量経費（新型コロナウイルス感染症対策のための研究活動支援）によってサポートされています。
      .link
        a(href="./cards-jp.pug")
          p.illust Go to  Overview Ideas →


      .mindmap
        a(href="./postcorona-jp.pug").post 
            p.title POST CORONA
            p.click CLICK
        a(href="./withcorona-jp.pug").with 
            p.click2 CLICK
            p.title2 WITH CORONA
      .big