<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title INNOVATION SEEDS LIST
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/modern-css-reset@1.3.0/dist/reset.min.css")
    link(rel="stylesheet", href="../assets/css/tree-p.css")
  body
    .container
      .header
        h1 INNOVATION SEEDS LIST
        span Post CORONA Mindmap
        a(href="./index-en.pug") 
         p ← Home
      #header
        .floating(data-depth="0")
          .period
          .category
          .concept
          .idea
          .tag
      div(id="app")
       svg#root
    script(src="../assets/javascripts/tree/postcorona.js") 

